@use './custom.scss' as *;

// 隐藏广告及推广
#slide_ad,
.ad-report,
.pop-live-small-mode,
.video-card-ad-small,
.video-page-game-card-small,
.video-page-special-card-small,
.video-page-operator-card-small,
.paybar_container__WApBR,
.bili-dyn-home--member .right,
.bili-dyn-home--visitor .right,
.desktop-download-tip,
.download-client-trigger span,
.loc-moveclip,
#sections-vm .flip-view,
#sections-vm .room-info-ctnr,
#ogvPageCashierBox {
  display: none !important;
}

// 隐藏浏览器版本过低提示
.browser-tip-dialog-mask {
  display: none;
}

// 隐藏登录弹窗
.login-tip,
.privacy-dialog {
  display: none !important;
}

// 隐藏大会员红点
.bili-header .right-entry--vip,
.mini-header .nav-user-center .mini-vip {
  .red-point {
    display: none;
  }
}


/*
  统一滚动条样式
*/

.ps .ps__rail-x.ps--clicking,
.ps .ps__rail-x:focus,
.ps .ps__rail-x:hover,
.ps .ps__rail-y.ps--clicking,
.ps .ps__rail-y:focus,
.ps .ps__rail-y:hover {
  width: 14px !important;
  background-color: transparent !important;
}

.ps__thumb-x,
.ps__thumb-y {
  background-color: $scrollbarColor !important;
  background-clip: padding-box !important;
  border: 4px solid transparent !important;
  border-radius: 8px !important;
}

// 弹幕列表
.bpx-player-auxiliary .bpx-player-dm-wrap .bui-long-list-wrap,
// 章节列表
.bpx-player-viewpoint .bpx-player-viewpoint-body,
// 屏蔽列表
.bpx-player-auxiliary .bpx-player-wraplist .bpx-player-bscrollbar,
// 高级弹幕
.bpx-player-auxiliary .bpx-player-adv-danmaku {

  .bscroll-vertical-scrollbar {
    width: 14px !important;
    top: 0 !important;
    right: -2px !important;

    .bscroll-indicator {
      background-color: $scrollbarColor !important;
      background-clip: padding-box !important;
      border: 4px solid transparent !important;
      border-radius: 8px !important;
    }
  }
}

// 播放器底部选集
.bpx-player-ctrl-eplist .bpx-player-ctrl-eplist-menu-wrap {

  .bscroll-vertical-scrollbar {
    width: 14px !important;
    background-color: transparent !important;

    .bscroll-indicator {
      background-color: $scrollbarColor !important;
      background-clip: padding-box !important;
      border: 4px solid transparent !important;
      border-radius: 8px !important;
    }
  }
}

// 视频分P选集
.cur-list,
// 视频合集
.video-sections-content-list,
.video-pod .video-pod__body,
.pod-slide-more-popover,
// 直播粉丝
.gift-rank-cntr .list-cntr .list-body .list,
// bangumi
div[class^='SectionSelector_selectorDropdown'],
#eplist_module div:last-child {
  &::-webkit-scrollbar {
    width: 14px !important;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbarColor !important;
    background-clip: padding-box !important;
    border: 4px solid transparent !important;
    border-radius: 8px !important;
  }
}

// 视频列表
.action-list-container .action-list-body .action-list-body-bottom {
  margin-right: -16px !important;

  .action-list {
    &:hover {
      &::-webkit-scrollbar {
        width: 14px !important;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $scrollbarColor !important;
        background-clip: padding-box !important;
        border: 4px solid transparent !important;
        border-radius: 8px !important;
      }
    }
  }
}

// 直播聊天列表
.ps.ps--in-scrolling.ps--y>.ps__scrollbar-y-rail {
  background-color: transparent !important;
}

.ps:hover>.ps__scrollbar-y-rail {
  &:hover {
    background-color: transparent !important;
  }
}

// 主播公告列表
.announcement-cntr .content {
  overflow: auto !important;
}

#sections-vm .right-container {
  min-height: unset;
  margin-top: 0 !important;

  .room-info-cntr {
    height: unset;
  }

  .content-wrapper {
    height: unset;
    overflow: auto;

    .room-announce-empty+.button-edit {
      display: none;
    }
  }
}


/*
  视频页简化
*/

// 弹幕列表
.bpx-player-auxiliary .bpx-player-dm-function {

  .bpx-player-dm-btn-dm {
    padding: 0 0 0 12px;
  }

  .bpx-player-dm-btn-date {
    padding: 0 0 0 4px;
  }
}

.bpx-player-auxiliary .bpx-player-dm-container .dm-info-row {

  .dm-info-date {
    display: block !important;
    padding: 0 0 0 4px;
  }

  .dm-info-block-btn {
    right: 16px !important;
  }

  .dm-info-block-btn,
  .dm-info-report-btn {
    width: 70px !important;
    border-radius: 0 !important;
    height: 18px !important;
    line-height: 18px !important;
    top: 3px !important;
  }
}

// 选集
.video-pod__list .simple-base-item:hover {
  background: var(--bg1);

  .title {
    color: inherit;
  }
}

// 分P选集
#multi_page {
  form.cur-page {
    width: 3em;

    input {
      width: 100%;
    }
  }

  .cur-list {
    padding: 0;

    .list-box {
      padding: 4px 6px;
    }
  }
}

// 合集
.base-video-sections-v1 {
  padding: 0 !important;

  .video-sections-head {
    padding-top: 10px;
  }

  .video-sections-content-list {
    height: unset !important;
  }
}

#playlist-video-action-list-body:not(.hide-action-list-body) {
  max-height: unset !important;
}

.action-list-container .action-list-body {
  .action-list-body-top {
    display: none !important;
  }

  .split-line {
    margin: 0 0 14px !important;
  }
}


// 投稿人
.upinfo-btn-panel .follow-btn {
  max-width: unset !important;
}

// 推荐视频
#reco_list .split-line,
.recommend_title__WVBlM {
  display: none;
}

// 视频组件
.bpx-player-top-left-follow,
.bpx-player-top-mask,
.bpx-player-state-wrap {
  display: none;
}

.bpx-player-top-left-title {
  font-size: 1.5em !important;
  background-color: rgba(0, 0, 0, 0.15);
}

#playerWrap {
  #bilibili-player-placeholder {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  #bilibili-player .bpx-player-container[data-screen*="wide"] .bpx-player-video-wrap {
    background: var(--bg1);
  }
}

#bilibili-player.mode-webscreen {
  width: 100% !important;
  height: 100% !important;
  z-index: 2000 !important;
}

#bilibili-player {
  .bpx-player-container[data-screen="full"],
  .bpx-player-container[data-screen="mini"],
  .bpx-player-container[data-screen="web"] {
    z-index: 2000 !important;
  }
}

#mirror-vdcon.video-container-v1 .right-container,
#mirror-vdcon.playlist-container .playlist-container--right {
  width: 390px;
}

@media (min-width: 1681px) {
  #mirror-vdcon.video-container-v1 .right-container,
  #mirror-vdcon.playlist-container .playlist-container--right {
    width: 451px;
  }
}

// 视频工具栏
.video-toolbar-container {
  padding: 10px 0 !important;

  .toolbar-left-item-wrap div svg {
    width: 24px;
    height: 24px;
  }
}

.player-left-components .toolbar {
  padding-top: 10px;

  .toolbar-left span svg {
    width: 24px;
    height: 24px;
  }
}

// 视频简介
.video-desc-container {
  margin: 8px 0 4px 0;

  .toggle-btn-text {
    margin: 8px 0;
    color: $descTextColor !important;
  }

  .desc-info-text {
    color: $descTextColor;
    font-size: 14px;
  }
}

// 视频tag
.video-tag-container .tag-panel .tag {
  display: inline-block !important;
  margin: 0 10px 8px 0 !important;
  float: none !important;

  .tag-link,
  div a {
    padding: 0 10px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    background: inherit;
    border: 1px solid #e5e9ef;
    border-radius: 20px;
    vertical-align: middle;
  }

  svg {
    margin-bottom: 1.5px;
  }

  .show-more-btn {
    display: none;
  }
}

// 视频活动
.activity-m-v1 {
  margin: 0;

  .inside-wrp {
    .left {
      text-shadow: 0 0 4px #fff;
      padding-right: 0;
      position: relative;
      z-index: 1;
    }

    .right {
      position: relative;
      z-index: 0;
    }
  }
}


/*
  直播页简化
*/

// 去水印
.web-player-icon-roomStatus {
  display: none;
}

// 直播数据
.header-info-ctnr .rows-ctnr .lower-row .right-ctnr {
  display: none !important;
}

.announcement-wrapper,
#rank-list-ctnr-box .tabs .pilot {
  display: none;
}

// 直播评价
#businessContainerElement .research-container {
  display: none;
}

// 头衔装扮
.chat-history-list .chat-item.danmaku-item .title-label {
  display: none;
}

// 聊天推流
.chat-history-list .chat-item.common-danmuku-msg {
  display: none;
}

// sc气泡
#chat-msg-bubble-vm {
  display: none;
}

// gift气泡
#chat-gift-bubble-vm {
  display: none;
}

#aside-area-vm {

  .rank-list-section {
    height: 18px;
    background: unset !important;

    #rank-list-ctnr-box {
      height: 18px !important;
      border-bottom: unset;
      background: rgba(255, 255, 255, .8);

      div {
        display: none;
      }
    }
  }

  .chat-history-panel,
  #chat-control-panel-vm {
    background: rgba(255, 255, 255, .8);
  }

  .chat-history-panel.new {
    height: calc(100% - 18px - 145px);
    padding-bottom: 0 !important;
    position: static !important;

    .a-move-in-top {
      display: none;
    }
  }

  .pay-note-panel {
    background: transparent;
  }

  .control-panel-icon-row .icon-left-part svg {
    filter: drop-shadow(0 0 .75rem rgba(22, 22, 22, .2));

    path {
      fill: #fff;
    }
  }
}

// 深色背景
html[lab-style*="dark"] #room-background-vm .room-bg.p-fixed::after {
  background: linear-gradient(to top, var(--Ga1), rgba(0, 0, 0, 0.7) 20%) !important;
}

html[lab-style*="dark"] #aside-area-vm {

  .rank-list-section.new #rank-list-ctnr-box {
    background: rgba(0, 0, 0, .3);
  }

  .chat-history-panel,
  #chat-control-panel-vm {
    background: rgba(0, 0, 0, .3);
  }
}

// 网页模式下弹幕列表背景
.player-full-win #aside-area-vm {
  background-color: #fff;

  .control-panel-icon-row .icon-left-part svg path {
    fill: rgba(102, 102, 102, .4);
  }
}

html[lab-style*="dark"] .player-full-win #aside-area-vm {
  background-color: var(--Ga1);
}


// 高能内容
#combo-card {
  display: none !important;
}

// 主播公告栏
.right-container .content-wrapper .room-announce-empty {
  margin: 0;
}

// 简介tag
.room-introduction-tags .room-introduction-tag {
  display: inline-block;
  margin: 0 20px 8px 0 !important;

  .icon-font.icon-label {
    font-size: 12px;
    margin-right: 4px;
  }
}

// mini播放
.player-ctnr .live-player-ctnr.minimal {
  border-radius: 0;
  padding: 0;
  box-shadow: 0 0 20px 0 rgba(0, 85, 255, .1);

  &::before {
    display: none;
  }

  &:hover button.minimal-restore-btn {
    display: block;
    transform: opacity 0.5s ease 0s;
  }

  button.minimal-restore-btn {
    display: none;
    top: 5px;
    z-index: 101;
    color: #fff;
  }

  .web-player-icon-feedback {
    left: 12px;
  }
}


/*
  动态页简化
*/

#app>.content {
  min-width: 900px;
}

#app {

  .opus-detail {
    min-width: 900px;

    .bili-opus-view {
      .opus-module-top__album__cover {
        width: unset;

        .b-img {
          background-color: var(--bg1);
        }

        picture img {
          object-fit: contain;
        }
      }
    }

    .right-sidebar-wrap {
      margin-left: 940px;
    }
  }
}

.bili-dyn-content__forw__desc {
  cursor: auto;
}

.bili-dyn-item__footer {
  height: 3.5em !important;
}

.bili-dyn-item__ornament .dyn-decoration-card,
.bili-dyn-interaction {
  display: none;
}

.bili-dyn-content__orig.reference {
  padding: 12px 20px 16px !important;
}

.article-container .article-container__content {

  .title-container {
    padding: 0 20px;
  }

  .article-up-info {
    width: 100%;

    .up-left {
      margin-left: 20px;
    }

    .up-btn {
      margin-right: 20px;
    }
  }

  #article-content {
    padding: 0 20px;
  }
}

/*
  投稿页简化
*/

#page-video .main-content {

  #submit-video-type-filter {
    margin-bottom: 0;
  }

  .cube-list .small-item .meta {
    justify-content: space-between;
  }
}


/*
  评论区简化
  - 基于comment-pc-vue.next.js
  - 不适用新版lit框架（comment-pc-elements.next.js、bili-comments.hash.js）
*/

// 评论区置顶广告
.reply-notice,
// 热评tag
.reply-tags,
// 个性装扮
.reply-decorate,
// 头像装扮
.bili-avatar-pendent-dom,
// 头像右下认证
.bili-avatar-right-icon,
.bili-avatar-nft-icon,
// 粉丝牌
.user-info .fan-badge,
// 原始粉丝
.originalFan {
  display: none !important;
}

// 评论紧凑布局
.reply-item {

  .root-reply-container {
    padding-top: 12px !important;
  }

  .bottom-line {
    margin-top: 12px !important;
  }

  .user-info {
    margin-bottom: 0 !important;
  }
}

// 楼中楼紧凑布局
.sub-reply-container {

  .sub-reply-item {
    padding-top: 0 !important;

    &:nth-last-child(2) {
      padding-bottom: 0;
    }

    .sub-reply-info {
      line-height: 20px;
    }
  }

  .view-more-default,
  .view-more-pagination {
    margin-top: 8px;
  }
}

// 回复框
.reply-box-shadow {
  display: none;
}

.fixed-reply-box {

  .reply-box-avatar {
    height: 40px !important;
  }

  .bili-avatar {
    width: 40px !important;
    height: 40px !important;
  }

  .reply-box-warp .textarea-wrap {
    padding: 0 !important;
  }
}


/*
  评论区简化
  - 基于new-comment.min.js
  - 不适用新版lit框架（comment-pc-elements.next.js、bili-comments.hash.js）
*/

// 个性装扮
.sailing,
// 粉丝牌
.medal,
// 粉丝勋章
.nameplate {
  display: none !important;
}

// 评论紧凑布局
.comment-list .list-item.reply-wrap {

  .con {
    padding-top: 12px;
  }

  .user-face {
    margin-top: 12px;
  }
}

// 楼中楼紧凑布局
.comment-list .list-item .con .reply-box {

  .reply-item {
    padding-top: 0;
  }

  .reply-item:nth-last-of-type(1) {
    padding-bottom: 0;
  }

  .view-more,
  .view-more .btn-more {
    margin-top: 8 !important;
    line-height: 18px;
    color: var(--text3);
  }
}

// 回复框
.comment-send-lite-mask {
  display: none !important;
}


/* 优化字体 */
// . {
//   font-family:
//     -apple-system, //针对 Web 页面
//     BlinkMacSystemFont, //针对 Mac Chrome 页面
//     SFProDisplay-Regular //针对小程序
//     !important
// }